/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Editor Form */
.ce-block__content,
.ce-toolbar__content {
	max-width: calc(100% - 120px) !important;
}
.cdx-block {
	max-width: 100% !important;
}

/* Background images */
.category-bg {
	background-image: linear-gradient(
			124deg,
			rgba(133, 188, 57, 0.547) 0%,
			rgba(109, 150, 52, 0.563) 100%
		),
		url(/assets/slider/shop-slide-1.jpg);
	background-size: cover;
}
